* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: teal;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 70px;
    animation-name: GrowIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

img {
    width: 100%;
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

h2 {
    text-align: center;
    font-weight: 400;
    color: white;
    margin-bottom: 75px;
}

button {
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    background-color: #EE7294;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 500;
    animation-name: Bounce;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    color: black;
}

a {
    text-decoration: none;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes GrowIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes Bounce {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(10px)
    }
    20% {
        transform: translateY(0px)
    }
    30% {
        transform: translateY(10px)
    }
    40% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    60% {
        transform: translateY(0px)
    }
    70% {
        transform: translateY(10px)
    }
    80% {
        transform: translateY(0px)
    }
    90% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0px)
    }

}